body {
  font-family: Verdana, sans-serif;
}

h1 .tic { color: hsla(0, 80%, 50%, 1); }
h1 .tac { color: hsla(120, 80%, 50%, 1); }
h1 .toe { color: blue; }

button:hover {
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}

header h1 {
  box-sizing: content-box;
  font-size: 6rem;
  font-weight: normal;
  margin: 3rem auto ;
  text-align: center;
  width: 30rem;
}

.board {
  box-sizing: content-box;
  height: 30rem;
  margin: 1rem auto 5rem;
  width: 30rem;
}

.board > div {
  border: 1px solid hsla(240, 50%, 90%, 1);
  box-sizing: border-box;
  float: left;
  font-size: 9rem;
  font-weight: bold;
  height: 10rem;
  line-height: 9rem;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 10rem;
}

.board.won > div.x,
.board.won > div.o {
  color: hsla(0, 0.0000%, 23.3333%, 1.0000)
}

.board > div.x,
.board.won > div.x.win {
  color: hsla(0, 80%, 50%, 1);
}

.board > div.o,
.board.won > div.o.win  {
  color: hsla(120, 80%, 50%, 1);
}

.board > div:nth-child(1),
.board > div:nth-child(2),
.board > div:nth-child(3) {
  border-top-color: hsla(0, 0.0000%, 13.3333%, 1.0000);
}

.board > div:nth-child(3),
.board > div:nth-child(6),
.board > div:nth-child(9) {
  border-right-color: hsla(0, 0.0000%, 13.3333%, 1.0000);
}

.board > div:nth-child(7),
.board > div:nth-child(8),
.board > div:nth-child(9) {
  border-bottom-color: hsla(0, 0.0000%, 13.3333%, 1.0000);
}

.board > div:nth-child(1),
.board > div:nth-child(4),
.board > div:nth-child(7) {
  border-left-color: hsla(0, 0.0000%, 13.3333%, 1.0000);
}
